<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.tlstools.mapper.src.SrcStayLoadingTaskMapper">


    <select id="selectAll" resultType="com.mt.tlstools.pojo.StayLoadingTask">
        select * from stay_loading_task
    </select>
    <select id="selectTaskLoadNow" resultType="com.mt.tlstools.pojo.TaskVo">
        select
        task_num as taskNum,
        train_num as trainNum,
        train_num_total as trainNumTotal,
        load_line as loadLine,
        case load_line when "400013"
        then "装车站二"
        else "装车站一" end as   loadLineName
        from stay_loading_task where task_state = 3 and loading_mode = 0 and (is_parent !='1' or is_parent is null)
    </select>
    <select id="selectCarriageByTaskNum" resultType="com.mt.tlstools.pojo.Carriage">
    select
        task_num as taskNum,
        order_num  as orderNum,
         train_num        as trainNum

        from carriage_info where task_num = #{taskNum} order by order_num
    </select>
    <select id="selectOldDbTask" resultType="com.mt.tlstools.pojo.TaskVo">
        select
        task_num as taskNum,
        0 as loadingMode,
        target_calorific_value as targetCalorificValue
        from stay_loading_task where task_state = 4 and loading_mode = 0
    </select>
    <select id="selectCarriageDetailByTaskNum" resultType="com.mt.tlstools.pojo.CarriageDetail">
        select
            t1.carriage_id,
            t1.task_num,
            t1.train_num,
            t1.order_num,
            t1.actual_load,
            t1.gross_weight,
            t1.deviation,
            t1.load_time,
            t1.finished_time,
            t1.partial_load,
            t1.overload_capacity,
            t1.average_speed,
            t1.load_status,
            t1.auto_status,
            t1.load_use_time,
            t1.mqdelete,
            t1.mqsjc
        from carriage_info t1
        where t1.task_num = #{taskNum}
        and t1.mqdelete = '0'
        order by t1.order_num asc
    </select>


</mapper>